/*常用按钮*/
btn.active,.btn:active {background-image:none;outline:0;-webkit-box-shadow:inset 0 3px 0.05rem rgba(0,0,0,.125);box-shadow:inset 0 3px 0.05rem rgba(0,0,0,.125);}
.btn {display:inline-block;padding:0.06rem 0.12rem;cursor:pointer;border:1px solid transparent;border-radius:0.04rem;}
.btn-default {color:#333;background-color:#fff;border-color:#ccc;}
.btn-default:active:hover {color:#333;background-color:#d4d4d4;border-color:#8c8c8c;}
.btn-default:hover {color:#333;background-color:#e6e6e6;border-color:#adadad;}
.btn-primary {color:#fff;background-color:#3190e8;border-color:#338de0;}
.btn-primary:hover {color:#fff;background-color:#286090;border-color:#204d74;}
.btn-primary:active:hover {color:#fff;background-color:#204d74;border-color:#122b40;}
.btn-success {color:#fff;background-color:#5cb85c;border-color:#4cae4c;}
.btn-success:active:hover {color:#fff;background-color:#378037;border-color:#8c8c8c;}
.btn-success:hover {color:#fff;background-color:#449d44;border-color:#adadad;}
.btn-danger {color:#fff;background-color:#d9534f;border-color:#d43f3a;}
.btn-danger:active:hover {color:#fff;background-color:#ac2925;border-color:#761c19;}
.btn-danger:hover {color:#fff;background-color:#c9302c;border-color:#ac2925;}
.btn-block {width:100%;display:block;}
