@charset "UTF-8";
/*abs用*/
.t0 {
  top: 0; }

.t5 {
  top: 5px; }

.t10 {
  top: 10px; }

.t12 {
  top: 12px; }

.t15 {
  top: 15px; }

.t20 {
  top: 20px; }

.t25 {
  top: 25px; }

.t30 {
  top: 30px; }

.t35 {
  top: 35px; }

.t40 {
  top: 40px; }

.t45 {
  top: 45px; }

.t50 {
  top: 50px; }

.t60 {
  top: 60px; }

.t70 {
  top: 70px; }

.t80 {
  top: 80px; }

.t90 {
  top: 90px; }

.t100 {
  top: 100px; }

.b0 {
  bottom: 0; }

.b5 {
  bottom: 5px; }

.b10 {
  bottom: 10px; }

.b12 {
  bottom: 12px; }

.b15 {
  bottom: 15px; }

.b20 {
  bottom: 20px; }

.b25 {
  bottom: 25px; }

.b30 {
  bottom: 30px; }

.b35 {
  bottom: 35px; }

.b40 {
  bottom: 40px; }

.b45 {
  bottom: 45px; }

.b50 {
  bottom: 50px; }

.b60 {
  bottom: 60px; }

.b70 {
  bottom: 70px; }

.b80 {
  bottom: 80px; }

.b90 {
  bottom: 90px; }

.b100 {
  bottom: 100px; }

.l0 {
  left: 0; }

.l5 {
  left: 5px; }

.l10 {
  left: 10px; }

.l12 {
  left: 12px; }

.l15 {
  left: 15px; }

.l20 {
  left: 20px; }

.l25 {
  left: 25px; }

.l30 {
  left: 30px; }

.l35 {
  left: 35px; }

.l40 {
  left: 40px; }

.l45 {
  left: 45px; }

.l50 {
  left: 50px; }

.l60 {
  left: 60px; }

.l70 {
  left: 70px; }

.l80 {
  left: 80px; }

.l90 {
  left: 90px; }

.l100 {
  left: 100px; }

.r0 {
  right: 0; }

.r5 {
  right: 5px; }

.r10 {
  right: 10px; }

.r12 {
  right: 12px; }

.r15 {
  right: 15px; }

.r20 {
  right: 20px; }

.r25 {
  right: 25px; }

.r30 {
  right: 30px; }

.r35 {
  right: 35px; }

.r40 {
  right: 40px; }

.r45 {
  right: 45px; }

.r50 {
  right: 50px; }

.r60 {
  right: 60px; }

.r70 {
  right: 70px; }

.r80 {
  right: 80px; }

.r90 {
  right: 90px; }

.r100 {
  right: 100px; }

/*百分比距离*/
.l0p {
  left: 0; }

.l5p {
  left: 5%; }

.l10p {
  left: 10%; }

.l12p {
  left: 12%; }

.l15p {
  left: 15%; }

.l20p {
  left: 20%; }

.l25p {
  left: 25%; }

.l30p {
  left: 30%; }

.l35p {
  left: 35%; }

.l40p {
  left: 40%; }

.l45p {
  left: 45%; }

.l50p {
  left: 50%; }

.l60p {
  left: 60%; }

.l70p {
  left: 70%; }

.l80p {
  left: 80%; }

.l90p {
  left: 90%; }

.l100p {
  left: 100%; }

.r0p {
  right: 0; }

.r5p {
  right: 5%; }

.r10p {
  right: 10%; }

.r12p {
  right: 12%; }

.r15p {
  right: 15%; }

.r20p {
  right: 20%; }

.r25p {
  right: 25%; }

.r30p {
  right: 30%; }

.r35p {
  right: 35%; }

.r40p {
  right: 40%; }

.r45p {
  right: 45%; }

.r50p {
  right: 50%; }

.r60p {
  right: 60%; }

.r70p {
  right: 70%; }

.r80p {
  right: 80%; }

.r90p {
  right: 90%; }

.r100p {
  right: 100%; }

/*边距/p,m*/
.pt0 {
  padding-top: 0; }

.p5 {
  padding: 5px; }

.p10 {
  padding: 10px; }

.p12 {
  padding: 12px; }

.p15 {
  padding: 15px; }

.p20 {
  padding: 20px; }

.p25 {
  padding: 25px; }

.p30 {
  padding: 30px; }

.p35 {
  padding: 35px; }

.p40 {
  padding: 40px; }

.p45 {
  padding: 45px; }

.p50 {
  padding: 50px; }

.p60 {
  padding: 60px; }

.p70 {
  padding: 70px; }

.p80 {
  padding: 80px; }

.p90 {
  padding: 90px; }

.p100 {
  padding: 100px; }

.pl0 {
  padding-left: 0; }

.pl5 {
  padding-left: 5px; }

.pl10 {
  padding-left: 10px; }

.pl12 {
  padding-left: 12px; }

.pl15 {
  padding-left: 15px; }

.pl20 {
  padding-left: 20px; }

.pl25 {
  padding-left: 25px; }

.pl30 {
  padding-left: 30px; }

.pl35 {
  padding-left: 35px; }

.pl40 {
  padding-left: 40px; }

.pl45 {
  padding-left: 45px; }

.pl50 {
  padding-left: 50px; }

.pl60 {
  padding-left: 60px; }

.pl70 {
  padding-left: 70px; }

.pl80 {
  padding-left: 80px; }

.pl90 {
  padding-left: 90px; }

.pl100 {
  padding-left: 100px; }

.pr0 {
  padding-right: 0; }

.pr5 {
  padding-right: 5px; }

.pr10 {
  padding-right: 10px; }

.pr12 {
  padding-right: 12px; }

.pr15 {
  padding-right: 15px; }

.pr20 {
  padding-right: 20px; }

.pr25 {
  padding-right: 25px; }

.pr30 {
  padding-right: 30px; }

.pr35 {
  padding-right: 35px; }

.pr40 {
  padding-right: 40px; }

.pr45 {
  padding-right: 45px; }

.pr50 {
  padding-right: 50px; }

.pr60 {
  padding-right: 60px; }

.pr70 {
  padding-right: 70px; }

.pr80 {
  padding-right: 80px; }

.pr90 {
  padding-right: 90px; }

.pr100 {
  padding-right: 100px; }

.pt0 {
  padding-top: 0; }

.pt5 {
  padding-top: 5px; }

.pt10 {
  padding-top: 10px; }

.pt12 {
  padding-top: 12px; }

.pt15 {
  padding-top: 15px; }

.pt20 {
  padding-top: 20px; }

.pt25 {
  padding-top: 25px; }

.pt30 {
  padding-top: 30px; }

.pt35 {
  padding-top: 35px; }

.pt40 {
  padding-top: 40px; }

.pt45 {
  padding-top: 45px; }

.pt50 {
  padding-top: 50px; }

.pt60 {
  padding-top: 60px; }

.pt70 {
  padding-top: 70px; }

.pt80 {
  padding-top: 80px; }

.pt90 {
  padding-top: 90px; }

.pt100 {
  padding-top: 100px; }

.pb0 {
  padding-bottom: 0; }

.pb5 {
  padding-bottom: 5px; }

.pb10 {
  padding-bottom: 10px; }

.pb12 {
  padding-bottom: 12px; }

.pb15 {
  padding-bottom: 15px; }

.pb20 {
  padding-bottom: 20px; }

.pb25 {
  padding-bottom: 25px; }

.pb30 {
  padding-bottom: 30px; }

.pb35 {
  padding-bottom: 35px; }

.pb40 {
  padding-bottom: 40px; }

.pb45 {
  padding-bottom: 45px; }

.pb50 {
  padding-bottom: 50px; }

.pb60 {
  padding-bottom: 60px; }

.pb70 {
  padding-bottom: 70px; }

.pb80 {
  padding-bottom: 80px; }

.pb90 {
  padding-bottom: 90px; }

.pb100 {
  padding-bottom: 100px; }

/*简化padding写法*/
.plr5 {
  padding-right: 5px;
  padding-left: 5px; }

.plr10 {
  padding-right: 10px;
  padding-left: 10px; }

.plr15 {
  padding-right: 15px;
  padding-left: 15px; }

.plr20 {
  padding-right: 20px;
  padding-left: 20px; }

.plr25 {
  padding-right: 25px;
  padding-left: 25px; }

.plr30 {
  padding-right: 30px;
  padding-left: 30px; }

.plr35 {
  padding-right: 35px;
  padding-left: 35px; }

.plr40 {
  padding-right: 40px;
  padding-left: 40px; }

.plr45 {
  padding-right: 45px;
  padding-left: 45px; }

.plr50 {
  padding-right: 50px;
  padding-left: 50px; }

.ptb5 {
  padding-top: 5px;
  padding-bottom: 5px; }

.ptb10 {
  padding-top: 10px;
  padding-bottom: 10px; }

.ptb15 {
  padding-top: 15px;
  padding-bottom: 15px; }

.ptb20 {
  padding-top: 20px;
  padding-bottom: 20px; }

.ptb25 {
  padding-top: 25px;
  padding-bottom: 25px; }

.ptb30 {
  padding-top: 30px;
  padding-bottom: 30px; }

.ptb35 {
  padding-top: 35px;
  padding-bottom: 35px; }

.ptb40 {
  padding-top: 40px;
  padding-bottom: 40px; }

.ptb45 {
  padding-top: 45px;
  padding-bottom: 45px; }

.ptb50 {
  padding-top: 50px;
  padding-bottom: 50px; }

/*隐藏*/
.vh {
  visibility: hidden; }

/*flex布局相关,水平对齐，垂直对齐*/
.fx1 {
  -webkit-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.fx2 {
  -webkit-box-flex: 2;
  -moz-flex: 2;
  -ms-flex: 2;
  flex: 2; }

.fx3 {
  -webkit-box-flex: 3;
  -moz-flex: 3;
  -ms-flex: 3;
  flex: 3; }

.fx4 {
  -webkit-box-flex: 4;
  -moz-flex: 4;
  -ms-flex: 4;
  flex: 4; }

.fx5 {
  -webkit-box-flex: 5;
  -moz-flex: 5;
  -ms-flex: 5;
  flex: 5; }

.fx6 {
  -webkit-box-flex: 6;
  -moz-flex: 6;
  -ms-flex: 6;
  flex: 6; }

.fx7 {
  -webkit-box-flex: 7;
  -moz-flex: 7;
  -ms-flex: 7;
  flex: 7; }

.fx8 {
  -webkit-box-flex: 8;
  -moz-flex: 8;
  -ms-flex: 8;
  flex: 8; }

.fx9 {
  -webkit-box-flex: 9;
  -moz-flex: 9;
  -ms-flex: 9;
  flex: 9; }

.fx10 {
  -webkit-box-flex: 10;
  -moz-flex: 10;
  -ms-flex: 10;
  flex: 10; }

/*flex水平对齐,start,center,end,between,around*/
.jcs {
  -webkit-box-pack: start;
  -moz-justify-content: flex-start;
  -ms-flex-pack: start;
      justify-content: flex-start; }

.jcc {
  -webkit-box-pack: center;
  -moz-justify-content: center;
  -ms-flex-pack: center;
      justify-content: center; }

.jce {
  -webkit-box-pack: end;
  -moz-justify-content: flex-end;
  -ms-flex-pack: end;
      justify-content: flex-end; }

.jcb {
  -webkit-box-pack: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -webkit-flex-pack: space-between;
  flex-pack: space-between; }

.jca {
  -webkit-box-pack: justify;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-flex-pack: distribute;
  flex-pack: distribute; }

/*flex方向，水平row，垂直column*/
.fxdc {
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column; }

.fxdcr {
  -moz-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  -o-flex-direction: column-reverse;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
          flex-direction: column-reverse; }

.fxdr {
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row; }

.fxdrr {
  -moz-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  -o-flex-direction: row-reverse;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
          flex-direction: row-reverse; }

/*flex水平方向换行*/
.fxww {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.fxwn {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }

.fxwr {
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse; }

/*flex垂直对齐,start,center,end,stretch*/
.ais {
  -webkit-box-align: start;
  -moz-align-items: flex-start;
  -ms-flex-align: start;
      align-items: flex-start; }

.aic {
  -webkit-box-align: center;
  -moz-align-items: center;
  -ms-flex-align: center;
      align-items: center; }

.aie {
  -webkit-box-align: end;
  -moz-align-items: flex-end;
  -ms-flex-align: end;
      align-items: flex-end; }

.aisr {
  -webkit-box-align: stretch;
  -moz-align-items: stretch;
  -ms-flex-align: stretch;
      align-items: stretch; }

/*flex 内容垂直对齐，start,center,end,*/
.acs {
  -ms-flex-line-pack: start;
      align-content: flex-start; }

.acc {
  -ms-flex-line-pack: center;
      align-content: center; }

.ace {
  -ms-flex-line-pack: end;
      align-content: flex-end; }

.acb {
  -ms-flex-line-pack: justify;
      align-content: space-between; }

.aca {
  -ms-flex-line-pack: distribute;
      align-content: space-around; }

/*flex垂直拉伸效果*/
/*order排序*/
.od1 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1; }

.od2 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2; }

.od3 {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3; }
