@charset "UTF-8";
/*初始化*/
body {
  margin: 0;
  font: 14px/1.5 arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;
  color: #333;
  word-wrap: break-word;
  word-break: break-all; }

.break {
  word-wrap: break-word;
  word-break: break-all; }

ul, h3, p, input, li, dt, dl, dd, h1, h2, h3, h4, h5, h6, figure, figcaption {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  text-decoration: none;
  color: #333; }

a, em {
  display: inline-block; }

em {
  font-style: normal; }

img {
  border: none;
  vertical-align: top; }

input {
  border: none;
  outline: none; }
