/*装饰*/
.ovh {overflow:hidden;}
.ovs {overflow:scroll;}

/*透明度*/
.op1 {opacity:0.1;}
.op2 {opacity:0.2;}
.op3 {opacity:0.3;}
.op4 {opacity:0.4;}
.op5 {opacity:0.5;}
.op6 {opacity:0.6;}
.op7 {opacity:0.7;}
.op8 {opacity:0.8;}
.op9 {opacity:0.9;}


/*边框bd*/
.bdb1 {border-bottom:1px solid #e4e4e4;}
.bdt1 {border-top:1px solid #e4e4e4;}
.bd1 {border:1px solid #e4e4e4;}
.bd2 {border:2px solid #e4e4e4;}
.bd0 {border:0 !important;}
.bdr1 {border-right:1px solid #e4e4e4;}
.bdl1 {border-left:1px solid #e4e4e4;}

/*圆角*/
.bdrs0 {-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;}
.bdrs5 {-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.bdrs10 {-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;}
.bdrs15 {-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px;}
.bdrs20 {-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px;}
.bdrs50p {-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;}
.bdtlr0{border-top-left-radius:0;}
.bdtrr0{border-top-right-radius: 0;}
.bdblr0{border-bottom-left-radius: 0;}
.bdbrr0{border-bottom-right-radius: 0}
/*合成部分*/
.bdrst0{border-top-left-radius:0;border-top-right-radius:0}
.bdrsb0{border-bottom-left-radius:0;border-bottom-right-radius:0}



/*颜色*/
.c1 {color:#111;}
.c2 {color:#222;}
.c3 {color:#333;}
.c4 {color:#444;}
.c5 {color:#555;}
.c6 {color:#666;}
.c7 {color:#777;}
.c8 {color:#888;}
.c9 {color:#999;}
.white {color:white}
.black {color:black}

.bg-white{background: white;}
.bg-black{background: black;}
